[package]
name = "local-ictest-e2e"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
localic-std = {git = "https://github.com/strangelove-ventures/interchaintest", branch = "main" }
cosmwasm-std = "1.5.4"
reqwest = { version = "0.11.20", features = ["blocking", "json"]}
serde_json = { version = "1.0.107" }
serde = { version = "1.0", features = ["derive"] }
cosmwasm-schema = { workspace = true }
